<?xml version="1.0" encoding="utf-8"?>
<!-- File name extension must be .runsettings -->
<!-- For more information, see https://docs.microsoft.com/en-us/visualstudio/test/configure-unit-tests-by-using-a-dot-runsettings-file?view=vs-2019  -->
<RunSettings>
    <TestRunParameters>
    <Parameter name="url" value="http://www.facebook.com"/>
    <Parameter name="browser" value="all" />
  </TestRunParameters>
  <!-- Adapter Specific sections -->
</RunSettings>
